<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Apartamenty-Krakowskie</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<div id="logo">
</div>

<div id="user-menu">
    <th:block th:if="${!isLogged}">
        <a href="/login" id="login-button"></a>
    </th:block>
    <th:block th:if="${isLogged}">
        <a href="/logout" id="login-button"></a>
    </th:block>

</div>

<div id="finder">
<form method="POST" action="/find">
    <input type="text" placeholder="Szukaj">
    <input type="submit" value="Szukaj">
</form>
</div>

<div id="menu">
    <a href="/AllApartments" id="AllApartments">Apartamenty</a>
    <a href="/addApartments" id="addApartments">Dodaj Apartament</a>
    <a href="/busyApartments" id="busyApartments">Zajęte Apartamenty</a>
    <a href="/freeApartments" id="freeApartments">Wolne Apartamenty</a>
    <a href="/invoice" id="invoice">Wystaw Fakture</a>
    <a href="/listGuest" id="listGuest">Lista Gości</a>
    <a href="/registerGuest" id="registerGuest">Zamelduj Gościa</a>
</div>

<div id="content">

</div>

</body>
</html>